<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Multi browser test" verbose="1" parallel="tests" thread-count="4">

 	<test name="Chrome execution">
		<parameter name="browser" value="chrome" />
		<packages>
			<package name="com.shopware.test.home" />
			<package name="com.shopware.test.customer" />
		</packages>
	</test>    

	  <test name="Firefox Execution">
		<parameter name="browser" value="firefox" />
		<packages>
			<package name="com.shopware.test.home" />
			<package name="com.shopware.test.customer" />
		</packages>
	</test>   


</suite> <!-- Suite -->
