<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.shopware.test.home.Test_01_LaunchFirstHomePage"/>
      <class name="com.shopware.test.customer.Test_02_Create_Customer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
